body {
  background: url("https://images.pexels.com/photos/1470171/pexels-photo-1470171.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-size: 45px;
  color: green;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
p {
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
}

.card-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 400px;
  background: green;
  /* Change me */
  padding: 8px;
}

.title {
  background: white;
  text-align: center;
  font-size: 16px;
  /* Change me */
  margin-top: 0;
  margin-bottom: 8px;
  padding: 8px;
}

.content {
  background: white;
  font-style: italic;
  /* Change me */
  margin-bottom: 8px;
  padding: 16px 8px;
}

.button-container {
  background: white;
  text-align: center;
  /* Change me */
  padding: 8px;
}

button {
  background: white;
  border: 1px solid #eee;
  width: 80%;
  background-color: rgb(204, 237, 204);
  display: block;
  /* Change me */
  padding: 8px 24px;
  margin: auto;
}